.login {
  height: 694px;
  display: flex;
  align-items: center;
  justify-content: center;
background-image: url("https://wallpaperaccess.com/full/2683869.jpg");}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 320px;
  height: 220px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  align-items: center;
}

.lInput {
  margin-top: 12px;
  height: 20px;
  padding: 12px;
  outline: none;
}

.lBtn {
  margin-top: 5px;
  border: none;
  padding: 7px 15px;
  color: #000000;
  background-color: #e2e2e2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.lButton:disabled {
  background-color: #ffffff8c;
  cursor: not-allowed;
}
