.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 20px;
  padding: 12px;
}

.lBtn {
  border: none;
  padding: 7px 15px;
  color: #ffffff;
  background-color: #687a9b;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
