.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}
.listSearch {
  flex: 1;
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292e49, #536976);
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
}

.lsTitle {
  font-size: 20px;
  color: #ccc7c7;
  margin-bottom: 10px;
}
.listResult {
  flex: 3;
}
.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
