.hotelContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hotelTitle {
  font-size: 23px;
}
.hotelAddress {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.hotelImgWrapper {
  width: 33%;
}

.hotelBtn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    background-color: #687a9b;
    transition: all 0.4s;
}
.hotelBtn:hover {
    color: #53565c;
  }

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelDistance {
  color: #363c44;
  font-weight: 500;
}
.hotelPriceHighlight {
  color: #5c5d5e;
  font-weight: bold;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
