.searchItem {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 20px;
}
.siImg {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.siTitle {
  font-size: 23px;
  color: #292e49;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.siDistance {
  font-size: 14px;
}

.siTaxiOp {
  font-size: 14px;
  background-color: #d8dbe0;
  width: max-content;
  color: rgb(63, 61, 59);
  padding: 3px;
  border-radius: 5px;
}

.siSub {
  font-size: 14px;
  font-weight: bold;
}

.siFeatures {
  font-size: 14px;
}

.siCancelOp {
  font-size: 14px;
  color: #818386;
  font-weight: bold;
}

.siCancelOpSub {
  font-size: 14px;
  color: #606163;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.siRating {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.siRating > span {
  font-weight: 500;
  margin-top: 3px;
}

.siRating > button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #a0a0a0;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siTaxOp {
  font-size: 14px;
  color: gray;
}

.siCheckBtn {
  border: none;
  border-radius: 2px;
  padding: 7px 15px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #687a9b;

  font-weight: bold;
}

.siCheckBtn:hover {
  color: #53565c;
  transition: all 0.4s;
}
.siPrice {
  font-size: 20px;
}
