.fProps {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.fPropsItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fPropsImg {
  width: 100%;
  height: 100%;
}
.fPropsName {
  font-weight: bold;
}

.fPropsCity {
  font-weight: 370px;
}
.fPropsPrice {
  font-weight: 520;
}
.fPropsRating > button {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin-right: 10px;
  font-weight: bold;
}
.fPropsRating > span {
  font-weight: 14px;
}
