.header {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: beige;
  display: flex;
  justify-content: center;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 200px 100px 0px;
}
.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 7px;
}
.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #141e30;
  background-color: #d8dbe0;
  
}
