.mail {
  width: 100%;
  margin-top: 50px;
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.mailInputContainer > Input {
  margin-right: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 8px 18px;
  color: #141e30;
  background-color: white;
}
.mailInputContainer > Button {
  margin-right: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  padding: 8px 7px;
  color: #141e30;
  background-color: #d8dbe0;
  font-weight: bold;
}
.mailInputContainer > Button:hover {
  color: #53565c;
  transition: all 0.4s;
}
